<html>
  <body>
    <table border = 1>
      {% for key, value in result.items() %}
      <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
        <td> <a href="{{ url }}", target="_blank" rel="noopener">{{ url }}</a></td>
      </tr>
      {% endfor %}
    </table>
    <p>動画内のラップバトル</p>
      <p>開始時間：{{ s_time }}</p>
      <p>終了時間：{{ e_time }}</p>
    <p>以下に文字起こしをお願いします。</p>
    <form action = "/crowdUrl/result" method = "POST">
      <input type="hidden" name="url" value="{{ url }}">
      <textarea name ="verses" rows="32" placeholder="俺めっちゃジャンケン弱ぇ　何回やったって先攻っていうそれが宿命　でもどんな逆境からでも必ずひっくり返して今もここに立ってるぜ　決勝まで上がってきて二者満塁　ツーアウト　スリーさん、いやもう　三振するギリギリで最後に一発　大きいのブチ返してお前を場外まで飛ばすぜ

二代目から三代目にモンスター変わって　あんたほとんど先攻で相変わらずやってんじゃねーの？　俺降ろされたから　後攻取らせてよ　俺降ろされたから　後攻でやらせてよ　クソ単純でしょ　それでも勝つのがあんたじゃない？三代目なんじゃないの？　強いんだろ？　強いよ　知ってるよ　強いよ　強いよ"></textarea>
      <input type="submit" value="決定">
    </form>
  </body>
</html>
